<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%if title %}
    <title>{{title}}</title>
    {% else %}
    <title>def title</title>
    {% endif %}
</head>
<body>
    <div>this is index <a href="/index">Index</a> </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
</html>